<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <span class="h3">Customer:{{' ' + customer.firstName + ' ' + customer.lastName}}</span>
        </div>
        <div class="card-block">
          <form [formGroup]="customerForm" novalidate>
            <div class="row">
              <!-- first name -->
              <div class="form-group col-md-3">
                <label for="firstName" class="col-form-label">First Name</label>
                <input class="form-control" type="text" formControlName="firstName">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-warning">
                  <div *ngIf="firstName.errors.required">
                    First name is required.
                  </div>
                  <div *ngIf="firstName.errors.maxlength">
                    First name must be no more then 50 characters long.
                  </div>
                </div>
              </div>
              <!-- last name -->
              <div class="form-group col-md-3">
                <label for="lastName" class="col-form-label">Last Name</label>
                <input class="form-control" type="text" formControlName="lastName">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-warning">
                  <div *ngIf="lastName.errors.required">
                    Last name is required.
                  </div>
                  <div *ngIf="lastName.errors.maxlength">
                    Last name must be no more then 50 characters long.
                  </div>
                </div>
              </div>
              <!-- company -->
              <div class="form-group col-md-3">
                <label for="company" class="col-form-label">Company</label>
                <input class="form-control" type="text" formControlName="company">
                <div *ngIf="company.invalid && (company.dirty || company.touched)" class="text-warning">
                  <div *ngIf="company.errors.required">
                    Company is required.
                  </div>
                  <div *ngIf="company.errors.maxlength">
                    Company must be no more then 100 characters long.
                  </div>
                </div>
              </div>
              <!-- email -->
              <div class="form-group col-md-3">
                <label for="email" class="col-form-label">Email</label>
                <input class="form-control" type="email" formControlName="email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-warning">
                  <div *ngIf="email.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="email.errors.maxlength">
                    Email must be no more then 256 characters long.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <hr>
                <h4>Phones</h4>
                <!-- phones -->
                <div formArrayName="phones">
                  <div *ngFor="let phone of customerForm.controls.phones.controls; let i=index">
                    <div class="row" [formGroupName]="i">
                      <!-- phone number -->
                      <div class="form-group col-md-3">
                        <label>Phone Number</label>
                        <input class="form-control" type="text" formControlName="phoneNumber">
                      </div>
                      <!-- phone type -->
                      <div class="form-group col-md-3">
                        <label>Phone Type</label>
                        <input class="form-control" type="text" formControlName="phoneTypeId">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-outline-warning" type="submit">Cancel</button>
              <button class="btn btn-outline-success" type="submit" [disabled]="customerForm.pristine">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
